body{
  background-color: #C0C5CE;
}

.container{
  width: 65%;
  margin: 0 auto;
  text-align: center;
  background-color: #65737E;
  padding: 4%;
}

.container img{
  max-width: 250px;
  padding: 4px;
}

#elementos{
  padding: 2%;
}

#elementos .elemento{
  margin: 10px;
  border: 2px solid #C0C5CE;
  display: block;
  padding: 10px;
  text-align: left;
  position: relative;
  margin: 2%;
}

#elementos .elemento a{
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  padding: 20px;
  position: absolute;
  top: 30%;
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
}